@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Roboto;
    margin: 0;
      color: #959BA4;
      width: 100vw;
      height: 100vh;
    
}
.head{
    width: 100%;
    height: 50px;
    background-color:#F5F5F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.black{
    color: #000;
    font-weight: 600;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
li{
    color: #959BA4;
    font-size: 11px;
    
}
.logo{
    width: 89px;
    height: 23px;
}
.exitbutton{
    border:0px;
    background-color: white;
    width: 58px;
    height: 33px;
    font-weight: 600;
    font-size: 11px;
    border-radius: 6%;
}
h1{
    font-size: 36px;
    font-weight: 800;
    margin-bottom:50px ;
    color: #000;
}
.languages{
    
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    display: flex;
    height: 30px;
    width: 260px;
    align-items: center;
    padding: auto;
    
}
.language{
    border-right: 1px solid #E5E5E5;
    width: 25%;
    height: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;  
    
}

.valueofamount{
    width: 260px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 20px;
    position: relative;
}
input{
    width: 90%;
    height: 70%;
    border: 0;
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    padding-left: 10px;
    z-index: 1;
}
.converter{
    display: flex;
    gap:300px;
}
.main{
    margin-left: 330px;
    margin-top: 70px;
    justify-content: space-between;
}
.twopart{
    display: flex;
}
.mention{
    font-size: 12px;
}



input:focus{
    outline: none;
}
.valutabar1{
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1;
    margin-top: 75px;
    font-size: 12px;
    margin-left: 10px;
}

.valutabar2{
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1;
    margin-top: 75px;
    font-size: 12px;
    margin-left: 10px;
}


.checkconnection{
    display: none;
    width: 250px;
    height: 50px;
    font-size: 12px;
    border: 5px solid #833AE0;
    background-color: #833AE0;
    font-weight: 700;
    color:white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: auto;
    margin-top: 200px;
    transition: 1s;

}


.checkconnection img{
    width: 30%;
    height: 80%;
    filter:brightness(0) invert(1);
    margin-left: 10px;

}




.menuformobile{
    display: none;
}




.mobileheaders{
    display: none;
}




.backround-color{
    background-color:#833AE0;
    color: white;
}





@media (min-width:480px) and (max-width:576px) {
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-direction: column;
    }
  
    .mobileheaders{
         display: none;
        position: fixed;
        margin-top: 100px;
        z-index: 9998;
        width: 200px;
        background-color: #bbb9b9;
        color: white;
        gap: 40px;
        align-items: center;
        flex-direction: column;
        margin-left: 250px;
        margin-right: -120px;
    }


    .converter{
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    li{
        display: none;

    }
    .menuformobile{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .exitbutton{
        display: none;
    }
    .logo{
        margin-left:20px;
    }
    .checkconnection{
        position: fixed;
        top:0;
        margin-left: 150px;
        margin-top: 80px;
         height: 20px;
         z-index: 9999;
    }
    


}
@media (min-width:577px) and (max-width:1023px){
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-direction: column;
    }

  
        .mobileheaders{
         display: none;
        position: fixed;
        margin-top: 100px;
        z-index: 9998;
        width: 200px;
        background-color: #bbb9b9;
        color: white;
        gap: 40px;
        align-items: center;
        flex-direction: column;
        margin-left: 540px;
        margin-right: -120px;
    }

    .mobileheaders p{
        width:60%;
        margin-right: auto;
    }
    .converter{
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }
    li{
        display: none;

    }
    .menuformobile{
        display: block;
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: 20px;
    }
    .exitbutton{
        display: none;
    }
    .logo{
        margin-left:20px;
    }
    .checkconnection{
        position: fixed;
        top:0;
        margin-left: 300px;
        margin-top: 80px;
         height: 25px;
    }

}
    
@media (min-width:1024px){
    .menuformobile{
        display: none;
    }
    .mobileheaders{
        display: none;
    }
    .mobileheaders p{
        display: none;
    }
}